body {
    background-color: lightblue;
}

.title {
    font-size: 35px;
    font-family: 'Bebas Neue';
    margin-bottom: 0px;
}

.text {
    font-size: 20px;
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
}

.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
}

.input-box{
    border-radius: 50px;
    border:2px solid black;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding:12px;
    width: 600px;
    background-color: white;
}

.button {
    margin-top:15px;
}


.button button {
    border-radius: 50px;
    font-size: 18px;
    padding: 12px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('images/background.jpg'); */
    /* background-color: teal; */
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
}

#answer-box{
    width: 80%;
    margin-top:50px; 
}

.results-display {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: lightblue;
}

.results {
    display:flex;
    flex-direction: column;
    margin: auto;
    border: solid 2px black;
    margin-bottom: 10px;
    padding:15px;
    background-color: white;
    border-radius: 20px;
    height: 30em;
}

.attraction {
    width: 100%;
    margin: auto;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.description {
    margin: auto;
    width:50%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.desc {
    overflow: scroll;
    font-family: 'Open Sans', sans-serif;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.results img {
    height: 20px;
    width: 20px;
}

.results button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

hr {
    margin-top: 40px;
    width:50%;
    border: 2px solid white;
    background-color: white;
}