<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap" rel="stylesheet">


<body>
    <div class="full-body-container" style="background-color: lightblue;">

        <div class="top-text">

            <div class="title">
                <h1>🌴 TravelForMe 🌴</h1>
            </div>

            <div class="description">
                <p>
                    Travel Suggestions Created Just For You! We'll suggest destinations and attractions that you may want to visit on your next trip, based on 
                    your reviews of past experiences! Tell us what you liked about 1-3 past travel experiences, and tell us what you're looking for in your next trip.
                    </p>
                    <p>In the search boxes below, type in keywords describing what you liked about
                        your previous travels and in the final search box describe your next ideal travel desintations and attractions. 
                        Hit search and start traveling!</p>
            </div>
     
            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you liked about a previous experience." id="filter-text-val1">
            </div>

            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you liked about a previous experience." id="filter-text-val2" >
            </div>


            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you liked about a previous experience." id="filter-text-val3">
            </div>

            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you want in a new experience." id="filter-text-val4">
            </div>

            <div class="button" onclick="sendFocus()">
                <button type="button" onclick="filterText()"> Find Your Travel Attractions! </button>
            </div>

        </div>

        <hr>

        <ul class="results-display" id="answer-box"></ul>
    </div>

    <script>


        function answerBoxTemplate(attraction,state, description, rating, cosine){
            return `<li class='results'>
                <h3 class='attraction'>${attraction}</h3>
                <p class='state'>${state}</p>
                <h4 class='desc'>${description}</h4>
                <hr class="result-hr">
                <div class="rating">
                    <h4>Cosine Score: ${cosine}</h4>
                    <h4>Star Rating: ${rating}</h4>
                    <div>
                        <button type="button" onclick="thumbUp(${attraction})""><img src="{{ url_for('static', filename='images/up.jpg') }}"/></button>
                        <button type="button" onclick="thumbDown(${attraction})""><img src="{{ url_for('static', filename='images/down.jpg') }}"/></button>
                    </div>
                </div>
            </li>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val1').focus()
            document.getElementById('filter-text-val2').focus()
            document.getElementById('filter-text-val3').focus()
            document.getElementById('filter-text-val4').focus()
        }

        function thumbUp(attraction){
            fetch("/thumbsUp?" + new URLSearchParams({ attrac: attraction }).toString());
        }

        function thumbDown(attraction){
            fetch("/thumbsDown?" + new URLSearchParams({ attrac: attraction }).toString());
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""

            console.log(document.getElementById("filter-text-val1").value) 
            console.log(document.getElementById("filter-text-val2").value) 
            console.log(document.getElementById("filter-text-val3").value) 
            console.log(document.getElementById("filter-text-val4").value) 

            var input1 = document.getElementById("filter-text-val1").value;
            var input2 = document.getElementById("filter-text-val2").value;
            var input3 = document.getElementById("filter-text-val3").value;
            var input4 = document.getElementById("filter-text-val4").value;
            
            var combined = input1 + " " + input2 + " " + input3 + " " + input4 + " " + input4 + " " + input4;

            console.log(combined)

            fetch("/attractions?" + new URLSearchParams({ title: combined }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                
                let tempDiv = document.createElement("div")
                console.log(row.cosine)
                tempDiv.innerHTML = answerBoxTemplate(row['attr_name'], row['state_name'], row['desc_text'], row['rating'], row['cosine'])
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }
            
    </script>
</body>