<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">

<body>
    <div class="full-body-container">

        <div class="top-text">

            <div class="title">
                <h1>TravelForMe</h1>
            </div>

            <div class="description">
                <p>
                    We'll find the destinations and attractions that you would want to visit on your next trip. 
                    We recommend new places to visit based on your inputs from previous travels, so we can properly
                    account for your interests. In the search boxes below, type in key words that you enjoyed from
                    your previous travels (up to three previous experiences) and in the final search box type in
                    keywords that would describe your next ideal travel desintations and attractions. 
                    Hit search and start traveling!
                </p>
            </div>
     
            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you liked about a previous experience." id="filter-text-val1" style="background-color:white;">
            </div>

            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you liked about a previous experience." id="filter-text-val2" style="background-color:white;">
            </div>


            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you liked about a previous experience." id="filter-text-val3" style="background-color:white;">
            </div>

            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe what you want in a new experience." id="filter-text-val4" style="background-color:white;">
            </div>

            <div class="button" onclick="sendFocus()">
                <button type="button" onclick="filterText()"> Find Your Travel Attractions! </button>
            </div>

        </div>

        <ul class="results-display" id="answer-box"></ul>
    </div>

    <script>


        function answerBoxTemplate(attraction,state, description, rating){
            return `<li class='results'>
                <h3 class='attraction'>${attraction}</h3>
                <p class='state'>${state}</p>
                <div class="rating">
                    <h4>${rating}</h4>
                    <div>
                        <button type="button" onclick="thumbUp(${attraction})""><img src="{{ url_for('static', filename='images/up.jpg') }}"/></button>
                        <button type="button" onclick="thumbDown(${attraction})""><img src="{{ url_for('static', filename='images/down.jpg') }}"/></button>
                    </div>
                </div>
            </li>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val1').focus()
            document.getElementById('filter-text-val2').focus()
            document.getElementById('filter-text-val3').focus()
            document.getElementById('filter-text-val4').focus()
        }

        function thumbUp(attraction){
            fetch("/thumbsUp?" + new URLSearchParams({ attrac: attraction }).toString());
        }

        function thumbDown(attraction){
            fetch("/thumbsDown?" + new URLSearchParams({ attrac: attraction }).toString());
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""

            console.log(document.getElementById("filter-text-val1").value) 
            console.log(document.getElementById("filter-text-val2").value) 
            console.log(document.getElementById("filter-text-val3").value) 
            console.log(document.getElementById("filter-text-val4").value) 

            var input1 = document.getElementById("filter-text-val1").value;
            var input2 = document.getElementById("filter-text-val2").value;
            var input3 = document.getElementById("filter-text-val3").value;
            var input4 = document.getElementById("filter-text-val4").value;
            
            var combined = input1 + " " + input2 + " " + input3 + " " + input4 + " " + input4 + " " + input4;

            console.log(combined)

            fetch("/attractions?" + new URLSearchParams({ title: combined }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.attr_name, row.state_name, row.desc_text, row.rating, row.thumbs, row.cosine)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }
            
    </script>
</body>